* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}
.colorDivs {
  height: 100vh;
  margin: auto;
}

input {
  height: 2rem;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
}

.colorDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 5px;
  border-radius: 5px;
}

.cs {
  position: relative;
  left: 25%;
  bottom: 12.5%;
  margin-bottom: 1.6rem;
}
#dvs {
  position: relative;
  left: 120%;
  bottom: 35%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dvs2 {
  position: relative;
  bottom: 65%;
  width: 75%;
  height: 9%;
  text-transform: capitalize;
}

.tableColor{
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tableColorDiv{
  width: 33.3333%;
  border: 1px solid black;
}

.mainDiv{
  display: flex;
  flex-wrap: wrap;
}

.colorDiv{
  width: 16.5%;
  border: 1px solid black;
}